.app-header {
    background-color: var(--app-base-bgc-clr);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    .logo {
        margin-inline-start: 80px;
        margin-top: 5px;
    }

    >.app-nav {
        grid-column: -1;
        gap: 15px;
        margin-inline-end: 87px;
        color: var(--app-header-txt-clr);
    }
}