html,
body,
#root body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Atlassian Sans", ui-sans-serif, -apple-system, "system-ui",
        "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
    background-color: var(--app-base-bgc-clr);
}





p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}

img,
embed,
video,
object {
    max-width: 100%;
    display: block;
}