/* SETUP */
@import 'setup/var.css';
@import 'setup/typography.css';

/* Basics */
@import 'basics/base.css';
@import 'basics/accessibility.css';
@import 'basics/forms.css';
@import 'basics/helpers.css';
@import 'basics/layout.css';

/* Cmps */
@import 'cmps/Hero.css';
@import 'cmps/Services.css';
@import 'cmps/Portfolio.css';
@import 'cmps/OurTeam.css';
@import 'cmps/Contact.css';
@import 'cmps/Packages.css';
@import 'cmps/Process.css';
@import 'cmps/AccessibilityStatement.css';

/* ApplicationCmps */
@import 'cmps/ApplicationCmps/appHeader.css';
@import 'cmps/ApplicationCmps/AppFooter.css';